<% include partials/header %>
<h1>Welcome to my home page</h1>
<img src="https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg">
<% include partials/footer %>